@model CityVM

@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>
<hr />
<br />
<br />
<p>
    <a class="btn btn-info" asp-action="Create">Create New City</a>
</p>
<h2>@ViewBag.Message</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                PostNumber
            </th>
            <th>
                Register Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var city in Model.Cities) {
        <tr>
            <td>
                @city.Name
            </td>
            <td>
                @city.PostNumber
            </td>
            <td>
                @city.Register
            </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@city.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="AddPeople" asp-route-id="@city.Id">Add people To City</a> |
                    <a class="btn btn-info" asp-action="FetchPeople" asp-route-id="@city.Id">people in this city</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@city.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
