@model List<Language>

@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>
<hr />
<br />
<h4>@ViewBag.Message1</h4>
<h6>@ViewBag.Message4</h6>
@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Register Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in Model)
            {
                <tr>
                    <td>
                        @language.Name
                    </td>
                    <td>
                        @language.Register
                    </td>
                    <td>
                        @if(User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" asp-action="DeleteLanguage" asp-route-languageid="@language.Id" asp-route-personid="@ViewBag.Id">Delete</a>
                             @*vi kan lägga till funktion Delet i andra controller som bara admin kan komma åt också , Vid behöv*@
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>@ViewBag.Message3</h3>
}
<div>
    <br />
    <br />
    <a class="btn btn-info" asp-action="Index">Back to People List</a>
</div>