@model List<Person>

@{
    ViewData["Title"] = "Index";
}

<h1>People</h1>
<br />
<br />

<p>
    <a class="btn btn-info" asp-action="Create">Create New Person </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Register Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Age</td>
                <td>@person.PhoneNumber</td>
                <td>@person.Register</td>
                <th>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@person.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="AddLanguage" asp-route-id="@person.Id">Add language to person</a> |
                    <a class="btn btn-info" asp-action="FetchLanguage" asp-route-id="@person.Id">language he speak</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@person.Id">Delete</a>
                </td>
                </th>
            </tr>
        }
    </tbody>
</table>
